runs/        
habitat-sim-0.1.7-py3.8_headless_linux_856d4b08c1a2632626bf0d205bf46471a99502b7.tar.bz2
VLN_CE/data/datasets/
VLN_CE/data/scene_datasets/

.DS_Store

Thumbs.db

.vscode/
.idea/

*.pyc
*.pyo
__pycache__/


tmp
model_zoo

*.log

*.swp
*.swo

.env
