fastapi
gradio==3.35.2
markdown2[all]
numpy==1.23.5
requests
sentencepiece
tokenizers>=0.12.1
torch==2.0.1
torchvision==0.15.2
uvicorn
shortuuid
peft==0.4.0
transformers==4.31.0
accelerate==0.21.0
bitsandbytes==0.41.0
scikit-learn==1.2.2
sentencepiece==0.1.99
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
gradio_client==0.2.9
fairscale
decord
absl-py
braceexpand
simplejson
dtw
fastdtw
gym==0.17.3



# accelerate==0.21.0
# transformers==4.31.0
# xformers==0.0.22
# tokenizers==0.13.3
# torchvision==0.15.2
# google-auth==2.23.3
# google-auth-oauthlib==1.0.0
# google-pasta==0.2.0
# protobuf==4.24.4


